* text=auto

# C++
*.cpp text eol=lf linguist-language=C++
*.hpp text eol=lf linguist-language=C++
*.h text eol=lf linguist-language=C++

# CMake
CMakeLists.txt text eol=lf linguist-language=CMake

# Configs
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
