* text=auto

# Go
*.go text eol=lf linguist-language=Go
go.mod text eol=lf linguist-language=Go
go.sum text eol=lf linguist-language=Go

# C++
*.cpp text eol=lf linguist-language=C++
*.hpp text eol=lf linguist-language=C++
*.h text eol=lf linguist-language=C++
CMakeLists.txt text eol=lf linguist-language=CMake

# Other configs
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
